.bg-secondary {
    background-color: #2c3e50 !important;
    color: #ecf0f1;
}

.copyright {
    background-color: #1a252f;
    color: #bdc3c7;
}

.bg-primary {
    background-color: #1abc9c !important;
    color: #ffffff;
}

nav {
    font-weight: 700;
    color: #ffffff;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

/* Additional Classes for Specific Text Areas */
.lead {
    color: #ecf0f1; /* Lighten text color for contrast */
}

.container {
    color: #ecf0f1; /* Ensure text inside containers is visible */
    background-color: #1a252f;
}
